<html>
  <head>
    <title>Drag &amp; Drop Tacos</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <div id="drop_target">
      <div id="hover_target" style="display:none;">
        <p>Please drop your files here</p>
      </div>    

      <p>Please drag files here</p>
    </div>
  </body>
  
  <script type="text/javascript" src="/javascripts/jquery-1.5.js"></script>
  <script type="text/javascript" src="/javascripts/underscore.js"></script>
  <script type="text/javascript" src="/javascripts/backbone.js"></script>
  <script type="text/javascript" src="/javascripts/drop_target.js"></script>
  <script type="text/javascript">
    // Instantiate the drop target     
    var dropTarget = new DropTarget({el: $("#drop_target")});
  </script>  

  <script id="progress" type="text/html">
    <div>
      <p>
        {{filesCount}} file(s) uploading. {{percentComplete}} complete.
      </p>
    </div>
  </script>
</html>
