<html>
  <head>
    <title>Drag &amp; Drop Tacos</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <div id="drop_target">
    </div>
  </body>
  
  <script type="text/javascript" src="/javascripts/jquery-1.5.js"></script>
  <script type="text/javascript" src="/javascripts/underscore.js"></script>
  <script type="text/javascript" src="/javascripts/backbone.js"></script>
</html>
